div {
  margin: 5px
}

h3 {
  padding: 5px;
}

h3, h4, h5 {
  margin: 0
}

h5 {
  color: #888;
}

#app {
  border: 2px solid black;
  display: flex;
}

#home-page {
  border: 2px solid orange;
  width: 50%;
}

#employee-page {
  border: 2px solid brown;
  width: 50%;
}

.header {
  border: 2px solid skyblue;
  margin: 5px;
}

#search-bar {
  border: 2px solid green;
  padding: 2px;
  margin: 5px;
}

#employee-list {
  border: 2px solid purple;
}

.employee-list-item {
  border: 2px solid red;
  padding: 5px;
}